<div class="cell small-12">
    {{ dump(formExport) }}
    {{ form_start(formExport, {'attr':{'id':'formExport','class': 'grid-x grid-padding-x'}}) }}
    <div class="cell">{{ form_label(formExport.file_format) }}</div>
    <div class="cell">{{ form_widget(formExport.file_format) }}</div>
    <div class="cell">{{ form_label(formExport.separator) }}</div>
    <div class="cell">{{ form_widget(formExport.separator) }}</div>
    <div class="cell">{{ form_label(formExport.charset) }}</div>
    <div class="cell">{{ form_widget(formExport.charset) }}</div>
    <div id="test_smart_export" class="small-12 cell smart_export_container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell auto">
                <ul data-draggable="target" class="available">
                    {% for label, value in choices %}
                        <li data-draggable="item" data-value="{{ value }}">{{ label }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="shrink cell">
                <button type="button" class="button small for-field disabled choose_all">
                    <i class="fa fa-angle-double-right"></i>
                </button>
                <button type="button" class="button small for-field disabled choose_selected">
                    <i class="fa fa-angle-right"></i>
                </button>
                <button type="button" class="button small for-field disabled reset_selected">
                    <i class="fa fa-angle-left"></i>
                </button>
                <button type="button" class="button small for-field no-mb disabled reset_all">
                    <i class="fa fa-angle-double-left"></i>
                </button>
            </div>
            <div class="cell auto">
                <ul data-draggable="target" class="chosen">
                </ul>
            </div>
        </div>
    </div>
    <button id="submit_test" type="button" class="button">Envoyer</button>
    {{ form_end(formExport) }}
</div>
<script src="{{ asset('smart-export/smart_selector.js') }}"></script>
<script>
    let se = new SmartSelector({container: document.getElementById('test_smart_export')});
    $('#submit_test').click(function(){
        $('#formExport').submit();
    });
</script>